{% extends "layout.html" %}
{% block body %}

<div class="row">
    <div class="col-md-12">
        <div class="card card-body">

            <form action="/update/{{employee.id}}" method="POST" class="row g-3 needs-validation">

                <div class="form-group col-md-3">
                    <label for="pNombre" class="form-label">Primer Nombre</label>
                    <input type="text" id="pNombre" name="pNombre"
                        value="{{ employee.primer_nombre if employee.primer_nombre is not none }}" class="form-control">
                </div>
                <div class="form-group col-md-3">
                    <label for="sNombre" class="form-label">Segundo Nombre</label>
                    <input type="text" id="sNombre" name="sNombre"
                        value="{{employee.segundo_nombre if employee.segundo_nombre is not none }}"
                        class="form-control">
                </div>
                <div class="form-group col-md-3">
                    <label for="pApellido" class="form-label">Primer Apellido</label>
                    <input type="text" id="pApellido" name="pApellido"
                        value="{{employee.primer_apellido if employee.primer_apellido is not none }}"
                        class="form-control">
                </div>
                <div class="form-group col-md-3">
                    <label for="sApellido" class="form-label">Segundo Apellido</label>
                    <input type="text" id="sApellido" name="sApellido"
                        value="{{employee.segundo_apellido if employee.segundo_apellido is not none }}"
                        class="form-control">
                </div>
                <div class="form-group col-md-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" id="email" name="email"
                        value="{{employee.email if employee.email is not none }}" class="form-control">
                </div>
                <div class="form-group col-md-3">
                    <label for="telefono" class="form-label">Teléfono</label>
                    <input type="text" id="telefono" name="telefono"
                        value="{{employee.telefono if employee.telefono is not none }}" class="form-control">
                </div>
                <div class="form-group col-md-3">
                    <label for="fechaIngreso" class="form-label">Fecha Ingreso</label>
                    <input type="date" id="fechaIngreso" name="fechaIngreso"
                        value="{{employee.fecha_ingreso if employee.fecha_ingreso is not none }}" class="form-control">
                </div>
                <div class="form-group col-md-3">
                    <label for="tipoContrato" class="form-label">Tipo Contrato</label>
                    <input type="text" id="tipoContrato" name="tipoContrato"
                        value="{{employee.id_tipo_contrato if employee.id_tipo_contrato is not none }}"
                        class="form-control">
                </div>
                <div class="form-group col-md-3">
                    <label for="fechaTerminoContrato" class="form-label">Fecha Termino Contrato</label>
                    <input type="date" id="fechaTerminoContrato" name="fechaTerminoContrato"
                        value="{{employee.fecha_termino_contrato if employee.fecha_termino_contrato is not none }}"
                        class="form-control">
                </div>
                <div class="form-group col-md-3">
                    <label for="idDependencia" class="form-label">Dependencia</label>
                    <input type="text" id="idDependencia" name="idDependencia"
                        value="{{employee.id_dependecia if employee.id_dependecia is not none }}" class="form-control">
                </div>
                <div class="form-group col-md-3">
                    <label for="salario" class="form-label">Salario</label>
                    <input type="text" id="salario" name="salario"
                        value="{{employee.salario if employee.salario is not none }}" class="form-control">
                </div>
                <div class="form-group col-md-3">
                    <label for="idCargo" class="form-label">Cargo</label>
                    <input type="text" id="idCargo" name="idCargo"
                        value="{{employee.id_cargo if employee.id_cargo is not none }}" class="form-control">
                </div>
                <div class="form-group col-md-3">
                    <label for="idTipoUsuario" class="form-label">Tipo de Usuario</label>
                    <input type="text" id="idTipoUsuario" name="idTipoUsuario"
                        value="{{employee.id_tipo_usuario if employee.id_tipo_usuario is not none }}"
                        class="form-control">
                </div>
                <div class="form-group col-md-3">
                    <label for="idTipoIdentificacion" class="form-label">Tipo de Identificación</label>
                    <input type="text" id="idTipoIdentificacion" name="idTipoIdentificacion"
                        value="{{employee.id_tipo_identificacion if employee.id_tipo_identificacion is not none }}"
                        class="form-control">
                </div>
                <div class="form-group col-md-3">
                    <label for="numeroIdentificacion" class="form-label">Número de Identificación</label>
                    <input type="text" id="numeroIdentificacion" name="numeroIdentificacion"
                        value="{{employee.numero_identificacion if employee.numero_identificacion is not none }}"
                        class="form-control">
                </div>
                <div class="form-group col-md-3">
                    <label for="direccion" class="form-label">Dirección</label>
                    <input type="text" id="direccion" name="direccion"
                        value="{{employee.direccion if employee.direccion is not none }}" class="form-control">
                </div>
                <div class="form-group col-md-2 offset-md-5">
                    <button type="submit" class="btn btn-warning btn-block">
                        Actualizar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}